body{
   font-family: verdana;
   margin: 0;
}
#h01{
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
}
p{
    /* background-color: lightgray; */
    text-align: justify;
    width: 370px;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 25px;
}
.color-section1{
    color:seagreen;
}
.color-section2{
    color: tomato;
}

.flex-container{
    display: flex;
    margin-left: 20px;
    margin-bottom: 30px;
}
.first-section-div{
    /* background-color: lightgray; */
    padding-left: 5px;
    border-left: 5px solid seagreen;
    font-size: 30px;
}
.div-box-half-width{
    width: 50%;
    padding-left: 4%;
    /* margin-bottom: 40px; */
}
.div-box-half-width img{
    width: 80%;
}
.div-box-half-width2{
    width: 30%;
    padding-left: 4%;
}
.div-box-half-width2 img{
    width: 30%;
}
/* .div-box-half-width3{
    width: 50%;
    padding-left: 4%;
    margin-top: 30px ;
    
}
.div-box-half-width3 img{
    width: 60%;
    height: 400px;

} */
.link-button{
    text-decoration: none;
    background-color:#008CBA;
    color:white;
    padding: 10px 35px;
    border-radius: 5px;
    margin: 2px 4px;
    font-weight: 700;
    font-size: 20px;
}
.second-section-div{
    padding: 10px 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;
}

#ssdiv1{
    background-color: lightgray;
}
#ssdiv2{
    background-color: lightskyblue;
}
#ssdiv3{
    background-color: powderblue;
}
/* #main-section3{
    background-image: url("images/shape-1.png");
    background-repeat: no-repeat;
    background-position: left top;
} */

.header-section{
    font-size: 35px;
}